
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Palette e tweak custom */
@layer base {
  body {
    @apply bg-gradient-to-br from-cemento via-biancoFerramenta to-brown-100;
    background-image:
      repeating-linear-gradient(210deg, #ede8dc40 0 20px, transparent 20px 48px), 
      linear-gradient(120deg, #f5f3ef 0%, #cbb18222 70%, #ded9d344 100%);
  }
  .hover-scale {
    @apply transition-transform duration-150 hover:scale-105;
  }
  .animate-fade-in {
    animation: fade-in 0.4s ease forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
